matplotlib
numpy
scikit-learn
pandas
PyYAML
# reqs for drebin feature extractor
androguard @ git+https://github.com/androguard/androguard@v3.4.0a1
psutil
scipy
networkx
joblib
lxml
dill
deap
Pillow
secml
validators